<button type="button" {{on "click" this.toggleDisabled}}>
  Disable inputs
</button>

<h1>
  Inputs
</h1>
<h2>
  Text
</h2>
<Input::Text @value={{this.someText}} @valueChanged={{fn this.changeValue "someText"}} @disabled={{this.disabled}} />
<Output::Text @value={{this.someText}} />

<h2>
  Number
</h2>
No initial value
<Input::Number @value={{this.someNumber}} @valueChanged={{fn this.changeValue "someNumber"}} @options={{hash precision=10 decimals=2}} @disabled={{this.disabled}} />
Number: <Output::Number @value={{this.someNumber}} @options={{hash precision=10 decimals=2}} />
Price: <Output::Price @value={{this.someNumber}} @options={{hash precision=10 decimals=2}} />
Percent: <Output::Percent @value={{this.someNumber}} @options={{hash precision=10 decimals=2}} />
<br />
With invalid value
<Input::Number @value={{this.someInvalidNumber}} @valueChanged={{fn this.changeValue "someInvalidNumber"}} @disabled={{this.disabled}} />
<Output::Number @value={{this.someInvalidNumber}} />

<h2>
  Range
</h2>
No initial value
<Input::Range @value={{this.someRangedNumber}} @valueChanged={{fn this.changeValue "someRangedNumber"}} @disabled={{this.disabled}} />
<Output::Number @value={{this.someRangedNumber}} />
<br />
With invalid value
<Input::Range @value={{this.someInvalidRangedNumber}} @valueChanged={{fn this.changeValue "someInvalidRangedNumber"}} @disabled={{this.disabled}} />
<Output::Number @value={{this.someInvalidRangedNumber}} />

{{!-- <h2>
  Date
</h2>
<div>
  Min date: {{this.minDate}}
  <button type="button" {{on "click" this.incrementMinDate}}>
    Add 1 day to minDate
  </button>
</div>
No initial value
<Input::Date @value={{this.someDate}} @valueChanged={{fn this.changeValue "someDate"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate}} />
<Output::Date @value={{this.someDate}} />
<br />
With initial value
<Input::Date @value={{this.someDateWithDefault}} @valueChanged={{fn this.changeValue "someDateWithDefault"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate}} />
<Output::Date @value={{this.someDateWithDefault}} />
<br />
With invalid value
<Input::Date @value={{this.invalidDate}} @valueChanged={{fn this.changeValue "invalidDate"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate}} />
<Output::Date @value={{this.invalidDate}} />
<br />
With invalid value (string)
<Input::Date @value={{this.invalidDateString}} @valueChanged={{fn this.changeValue "invalidDateString"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate}} />
<Output::Date @value={{this.invalidDateString}} />
<h3>
  with enableTime
</h3>
No initial value
<Input::Date @value={{this.someDatetime}} @valueChanged={{fn this.changeValue "someDatetime"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate enableTime=true}} />
<Output::Date @value={{this.someDatetime}} @options={{hash displayTime=true}} />
<br />
With initial value
<Input::Date @value={{this.someDatetimeWithDefault}} @valueChanged={{fn this.changeValue "someDatetimeWithDefault"}} @disabled={{this.disabled}} @options={{hash minDate=this.minDate enableTime=true}} />
<Output::Date @value={{this.someDatetimeWithDefault}} @options={{hash displayTime=true}} />

<h2>
  DateRange
</h2>
No initial value
<Input::Date @value={{this.someDateRange}} @valueChanged={{fn this.changeValue "someDateRange"}} @disabled={{this.disabled}} @options={{hash range=true minDate=this.minDate}} />
<Output::DateRange @value={{this.someDateRange}} />
<br />
With initial value
<Input::Date @value={{this.someDateRangeWithDefault}} @valueChanged={{fn this.changeValue "someDateRangeWithDefault"}} @disabled={{this.disabled}} @options={{hash range=true minDate=this.minDate}} />
<Output::DateRange @value={{this.someDateRangeWithDefault}} />
<br />
With invalid value
<Input::Date @value={{this.someDateRangeWithInvalid}} @valueChanged={{fn this.changeValue "someDateRangeWithInvalid"}} @disabled={{this.disabled}} @options={{hash range=true minDate=this.minDate}} />
<Output::DateRange @value={{this.someDateRangeWithInvalid}} />

<h2>
  Time
</h2>
No initial value
<Input::Time @value={{this.someTime}} @valueChanged={{fn this.changeValue "someTime"}} @disabled={{this.disabled}} />
<br />
With initial value
<Input::Time @value={{this.someTimeWithDefault}} @valueChanged={{fn this.changeValue "someTimeWithDefault"}} @disabled={{this.disabled}} />
<br />
With invalid value
<Input::Time @value={{this.someTimeWithInvalid}} @valueChanged={{fn this.changeValue "someTimeWithInvalid"}} @disabled={{this.disabled}} />
<br />
With invalid value (string)
<Input::Time @value={{this.someTimeWithInvalidString}} @valueChanged={{fn this.changeValue "someTimeWithInvalidString"}} @disabled={{this.disabled}} /> --}}

<h2>
  Checkbox
</h2>
No initial value
<Input::Checkbox @value={{this.someBoolean}} @valueChanged={{fn this.changeValue "someBoolean"}} @disabled={{this.disabled}} />
<Output::Checkbox @value={{this.someBoolean}} />
<br />
With initial value
<Input::Checkbox @value={{this.someBooleanWithDefault}} @valueChanged={{fn this.changeValue "someBooleanWithDefault"}} @disabled={{this.disabled}} />
<Output::Checkbox @value={{this.someBooleanWithDefault}} />
<br />
With invalid value
<Input::Checkbox @value={{this.someBooleanWithInvalid}} @valueChanged={{fn this.changeValue "someBooleanWithInvalid"}} @disabled={{this.disabled}} />
<Output::Checkbox @value={{this.someBooleanWithInvalid}} />

<h2>
  Textarea
</h2>
No initial value
<Input::Textarea @value={{this.someLongtext}} @valueChanged={{fn this.changeValue "someLongtext"}} @disabled={{this.disabled}} />
<br />
<Output::Text @value={{this.someLongtext}} @options={{hash multiLine=true}} />
<br />
<br />
With initial value
<Input::Textarea @value={{this.someLongtextWithDefault}} @valueChanged={{fn this.changeValue "someLongtextWithDefault"}} @disabled={{this.disabled}} />
<br />
<Output::Text @value={{this.someLongtextWithDefault}} @options={{hash multiLine=true}} />

<h2>
  Select
</h2>
No initial value (and different placeholder aka none label)
<Input::Select @value={{this.someSelected}} @valueChanged={{fn this.changeValue "someSelected"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions placeholder="Nothing selected"}} />
<Output::Select @value={{this.someSelected}} @options={{hash selectOptions=this.selectOptions}} />
<br />
With initial value
<Input::Select @value={{this.someSelectedWithDefault}} @valueChanged={{fn this.changeValue "someSelectedWithDefault"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} />
<Output::Select @value={{this.someSelectedWithDefault}} @options={{hash selectOptions=this.selectOptions}} />
<br />
With invalid value
<Input::Select @value={{this.someSelectedWithInvalid}} @valueChanged={{fn this.changeValue "someSelectedWithInvalid"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} />
<Output::Select @value={{this.someSelectedWithInvalid}} @options={{hash selectOptions=this.selectOptions}} />
<h3>
  with @required = true
</h3>
No initial value
<Input::Select @value={{this.someSelected}} @valueChanged={{fn this.changeValueRequiredSelect "someSelected"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} @required={{true}} />
<br />
With initial value
<Input::Select @value={{this.someSelectedWithDefault}} @valueChanged={{fn this.changeValueRequiredSelect "someSelectedWithDefault"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} @required={{true}} />

<h2>
  Multi select
</h2>
No initial value (and different placeholder aka none label)
<Input::MultiSelect @value={{this.someSelecteds}} @valueChanged={{fn this.changeValue "someSelecteds"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions placeholder="Nothing selected"}} />
{{!-- <Output::Text @value={{this.someLongtext}} @multiLine={{true}} /> --}}
<br />
With initial value
<Input::MultiSelect @value={{this.someSelectedsWithDefault}} @valueChanged={{fn this.changeValue "someSelectedsWithDefault"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} />
{{!-- <Output::Text @value={{this.someLongtextWithDefault}} @multiLine={{true}} /> --}}
<br />
With invalid value
<Input::MultiSelect @value={{this.someSelectedsWithInvalid}} @valueChanged={{fn this.changeValue "someSelectedsWithInvalid"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} />

<h3>
  with @required = true
</h3>
No initial value
<Input::MultiSelect @value={{this.someSelecteds}} @valueChanged={{fn this.changeValue "someSelecteds"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} @required={{true}} />
<br />
With initial value
<Input::MultiSelect @value={{this.someSelectedsWithDefault}} @valueChanged={{fn this.changeValue "someSelectedsWithDefault"}} @disabled={{this.disabled}} @options={{hash selectOptions=this.selectOptions}} @required={{true}} />